@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --lora-font: "Lora", serif;
  --white-color: #fcfcfd;
  --grey-color: #181a1b;
  --medium-font-weight: 500;
  --logo-color: #27292a;
  --z-fixed: 999;
}

html{
  font-family: var(--lora-font);
  font-weight: var(--medium-font-weight);
}

ul {
  list-style-image: initial;
  list-style: none;
}

a{
  text-decoration: none;
}

a:visited{
  color:inherit;
}