@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lora:wght@600&family=Open+Sans:wght@600&family=Roboto+Mono&display=swap');

:root {
  --text-font: "Roboto Mono", monospace;
  --title-font: "Open Sans", sans-serif;
  --cursive-font: "Borel", cursive;
  --z-fixed: 999;

  /*https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff*/
  --night: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --cornell-red: #a4161aff;
  --cornell-red-2: #ba181bff;
  --imperial-red: #e5383bff;
  --silver: #b1a7a6ff;
  --timberwolf: #d3d3d3ff;
  --white-smoke: #f5f3f4ff;
  --white: #ffffffff;
}

html {
  color: var(--silver);
  background-color: var(--eerie-black);
  font-family: var(--text-font);
}

ul {
  list-style-image: initial;
  list-style: none;
}

a {
  text-decoration: none;
}

