:root {
  --image-width: 33%;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.profile__picture {
  width: var(--image-width);
  border: none; 
  overflow: hidden;
  box-shadow: 11px 10px 26px -1px var(--night); 
}

.text__container {
  text-align: center;
}
