#header {
  width: 100%;
  justify-self: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;

  @media (max-width: 1023px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
  }
}

.nav__logo {
  padding-top: 1rem;
  font-size: 1.25rem;
  color: var(--white);
}


.nav__menu {
  display: flex;
  gap: 2rem;
  padding: 2rem;

  @media (max-width: 1023px) {
    position: fixed;
    width: 88%;
    bottom: 1rem;
    margin: 0 auto;
    padding: 0;

    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, max-content);
  }
}

.nav__item {
  color: var(--silver);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  transition: all 0.5s ease-in-out;
  padding: 0.25rem;
}

.nav__item.active {
  /* font-family: var(--cursive-font); */
  transform: scale(1.1);
  color: var(--white);
}

.nav__item i {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav__item:hover i,
.nav__item.active i {
  opacity: 1;
}
