.text__slider {
  position: relative;
  height: var(--slider-font-size);
  overflow: hidden;
  text-wrap: nowrap;
}

.text__slide {
  margin: 0;
  font-size: var(--slider-font-size);
  width: 100%;
  position: absolute;
  top: calc(-1 * var(--slider-font-size));
  transition: all 0.5s;
  opacity: 0;
  animation: none;
}

.text__slide.active {
  animation: slide var(--animation-speed) ease-in-out forwards;
}

@keyframes slide {
  0% {
    top: calc(-1 * var(--slider-font-size));
    opacity: 0;
  }
  10%,
  90% {
    top: -25%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: var(--slider-font-size);
  }
}